<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/registro">Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Bienvenido/a</h1>
    <img src="assets/descarga.png">
  </div>

  <form id="form">
    <ion-input formControlname ="nombre" placeholder="Usuario"></ion-input>
    <ion-input formControlname ="password" type="password" placeholder="Contraseña"></ion-input>            
    <ion-button (click)="ingresar()" expand="block" shape="round">Iniciar sesion</ion-button> 

  </form>


</ion-content>

