<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Mi primera lista
    </ion-card-header>
    <ion-list>
      <button ion-item *ngFor="let item of lista">
        <ion-icon name="cart" item-start></ion-icon>
        {{ item.titulo }}

      </button>
    </ion-list>
  </ion-card>

</ion-content>
