<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/login" color=#ffffff>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>  
    <h1>Crea tu <br />cuenta</h1>

  <form id="form" [formGroup]="formularioRegistro" (keyup.enter)="registrar()">
    <ion-input formControlname ="nombre" placeholder="Nombre"></ion-input>
    <ion-input formControlname ="password" type="password" placeholder="Contraseña"></ion-input>
    <ion-input formControlname ="confirmacionpassword" type="password" placeholder="Confirme su Contraseña"></ion-input>            
    <ion-button routerLink="/login" (click)="registrar()" expand="block" shape="round">Registrar</ion-button> 

  </form>

  <p>Presionando 'Registrar' estaras aceptando <br> nuestros terminos & condiciones.</p>


</ion-content>